.header {
  background-color: #f7ca18;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .header {
    font-size: 1.5em; /* Adjust font size */
    width: 600px;
    height: 25%;
    overflow: hidden;
    padding: 8px; /* Adjust padding */
    text-align: center;
  }
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
  .header {
    font-size: 1.2em; /* Adjust font size */
    padding: 6px; /* Adjust padding */
  }
}
